.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 10pt;
    right: 10pt;
    width: 360pt;
    height: 640pt;
    background-color: rgba(50, 50, 50, 1);
}

.modal {
    background-color: #fff;
    border-radius: 5pt;
    border-color: black;
    border-style: solid;
    margin: 0 auto;
    top: 50pt;
    height: 100pt;
    width: 200pt;
    padding: 10pt;
    position: relative;
}

.alert-buttons {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
}