.App {
  text-align: center;
}

/* Start of top bar*/
.header{
  /*display: flex;*/
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  border-bottom-color: black;
}

/* Alters Checklist */

h1 {
  /*font-style: bold;*/
  font-family: "Arial" ;
  font-size: 30px ; /* make responsive font size */
  /*position: fixed;*/
  margin-left: 10px;
  /*color: Black;*/
  -webkit-text-fill-color: #2e74f0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2e74f0;
  margin-bottom: 0.5em; /* consider switching this to something else*/
}

/* will this over-ride all buttons?? please no */
/* I think they're fine though */
#toggle {
  position: fixed;
  height: 30px;
  right: 10px;
  margin-right: 10px;
  margin-bottom: 0.5em; /* consider switching this to something else*/
  background: url('../public/icons8-hamburger-menu-30.png') no-repeat;
  border-color: transparent;
  /*background-color: red;*/
  /*!*right: 1em;*!*/
  /*!*top: 0.8em;*!*/
  /*padding: 8px;*/
  /*border: 2px solid #fff;*/
  /*border-radius: 5px;*/
  /*font-size: 1em;*/
  /*background: transparent;*/
  /*color: #fff;*/
  /*display: none;*/
}

#menu {
  z-index: 999;
  position: relative;
}


/* End of top bar */

#tasks {
  background-image: url(../public/background.jpg);
  /*object-fit: fill;*/
  background-size: 100% 100%;
  display: block;
  top: 100px;
  left: 55px;
  right: 45px;
  bottom: 110px;
  position: fixed;
  z-index: 1;

  font-style: bold;

  font-family: "American Typewriter";
  font-size: 18px ;
  color: Black;
}

.Task {
  list-style: none;
}
text {
  font-size: 25px;
}

#buttons {

  text-align: center;

  display: block;
  left: 40px;
  right: 40px;
  bottom: 20px;
  position: fixed;

}
#bottomButtons {
  font-size: 5px;

}

#U {
  opacity: 0.5;

}

