.Tasks {


    border-color: red;
    display: block;
    top: 90px;
    left: 30px;
    right: 45px;
    bottom: 110px;
    position: fixed;

    font-style: bold;

    font-family: "American Typewriter";
    font-size: 18px ;
    color: Black;
}

/* Rest are css for buttons */

#buttons {

    text-align: center;

    display: block;
    left: 40px;
    right: 40px;
    bottom: 20px;
    position: fixed;

}

#hide {
    float: left;
    width: 100px;
}

#trash {
    float: right;
    width: 100px;
}

#buttons input{
    background-color: black;
    color: white;
    font-family: "Arial" ;
    font-size: 18px ;
    height: 50px;
}

.low {
    background-color: greenyellow;
    border-color: transparent;;
    height: 13px;
    width: 10px;
}
.medium {
    background-color: #ffd600;
    border-color: transparent;;
    height: 13px;
    width: 10px;
}
.high {
    background-color: red;
    border-color: transparent;;
    height: 13px;
    width: 10px;
}
