.selected {
    border-color: darkgoldenrod;
    background-color: lemonchiffon;
}
.completed {
    text-decoration: line-through;
}

.taskInput {
   width: 100%;
    border: transparent;
    background: transparent;
    font-size: large;
}