.Tasks {
    /* border-style: solid;
    border-color: yellow; */
    /* grid-row: 2/ span 1;
    grid-column: 2/span 1; */

    border-color: red;
    display: block;
    top: 90px;
    left: 30px;
    right: 45px;
    bottom: 110px;
    position: fixed;

    font-style: bold;
    /* font-family: "Courier New" ; */
    /* font-family: "Arial (sans-serif)" ; */
    font-family: "American Typewriter";
    font-size: 18px ;
    color: Black;
}

/* Rest are css for buttons */

#buttons {
    /* border-style: solid;
    border-color: orange; */
    text-align: center;

    display: block;
    left: 40px;
    right: 40px;
    bottom: 20px;
    position: fixed;

}

#hide {
    float: left;
    width: 100px;
}

#trash {
    float: right;
    width: 100px;
}

#buttons input{
    background-color: black;
    color: white;
    font-family: "Arial" ;
    font-size: 18px ;
    height: 50px;
}