.Tasks {


    border-color: red;
    display: block;
    top: 90px;
    left: 30px;
    right: 45px;
    bottom: 110px;
    position: fixed;


    font-family: "American Typewriter";
    font-size: 100% ;
    color: Black;
}



.small {
    background-color: greenyellow;
    border-color: transparent;;
    height: 13px;
    width: 10px;
}
.medium {
    background-color: #ffd600;
    border-color: transparent;;
    height: 13px;
    width: 10px;
}
.high {
    background-color: red;
    border-color: transparent;;
    height: 13px;
    width: 10px;
}

.taskButtons {
    font-size: 100%;
    border-color: transparent;
    margin-right: 5px;

}
.addField {
    font-size: 100%;
}